<p id="notice"><%= notice %></p>

<p>
  <strong>Name of railway:</strong>
  <%= @nearest_station.name_of_railway %>
</p>

<p>
  <strong>Station name:</strong>
  <%= @nearest_station.station_name %>
</p>

<p>
  <strong>How many minutes walk:</strong>
  <%= @nearest_station.how_many_minutes_walk %>
</p>

<p>
  <strong>Property:</strong>
  <%= @nearest_station.property %>
</p>

<%= link_to 'Edit', edit_nearest_station_path(@nearest_station) %> |
<%= link_to 'Back', nearest_stations_path %>
